# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env/
.env.*
.venv/

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Dagster
# =========================
.dagster/
dagster.db

# =========================
# Logs & temp files
# =========================
*.log
*.tmp

# =========================
# Secrets
# =========================
*.key
*.pem
*.env
.env.local

# =========================
# Build / cache
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
